fastapi
uvicorn
pyttsx3
SpeechRecognition
pyaudio
httpx
python-dotenv
pydantic
requests
dateparser
python-multipart
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
boto3
cryptography>=42.0.4
# pywin32
# win32serviceutil
# win32service
# win32event